# Node modules
node_modules /
# Hardhat built artifacts
artifacts/
cache/
# Coverage reports
coverage/
coverage.json
# Environment variable
env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# OS files
DS_Store
Thumbs.db

